[Unit]
Description=A Linux status bar daemon which uses event-driven updating of values
After=graphical-session.target
Wants=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/bar_daemon daemon
Restart=on-failure
Environment=HOME=%h
WorkingDirectory=%h
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
